

    {{!-- city card that populates three buttons: Add, Details, and Delete. --}}
    <div class="forum-post-card card text-white bg-secondary mb-3">
        <div class="card-header">
            <h4 class="text-white">{{cityName}}</h4>
        </div>

        <div class="card-body">
            by {{'User.email'}}
            @ {{createdAt}}
        </div>

        <div class="card-footer">
            <a href="/details/{{id}}" class="btn btn-info">log</a>
            <button type="button" class="btn btn-info details" id="Details" data-cityName="{{cityName}}" data-target="exampleModal">details</button>
            <button type="button" class="btn btn-info delete" id="delete" data-attribute-id="{{id}}">delete</button>
        </div>
    </div>

    <!-- Details modal that shows the location's info -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{cityName}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-body">

                </div>
                <div class="modal-footer">
                    {{!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> --}}
                </div>
            </div>
        </div>
    </div>




